@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Poppins", serif;
  list-style: none;
}

body {
  background-color: #e2e8f0;
  position: absolute;
  width: 100vw;
}

/* ESTILO GLOBAL DE CABECALHO E RODAPE */

header, main, footer {
    display: flex;
    flex-direction: row;
}

header {
    background-color: rgb(191,188,188);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 4.5rem;
    position: fixed;
    width: 100vw;
    box-shadow: 0px 10px 20px #00000051;
}

header nav {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}

header nav ul {
    display: flex;
    /*gap: 8rem;*/
}

.item-menu > li:hover {
    transform: scale(1.2);
}
  
.item-menu > li a:hover {
    color: #8f7d09dc;
}
  
.item-menu > li > a {
    color: #8f4309dc;
}

header #logo {
    width: 5rem;
    border-radius: 50px;
    margin: 5px;
}

header #pesquisa input[type="search"] {
    border: 2px solid gray;
    border-radius: 8px;
    height: 30px;
    font-size: 16px;
    padding: 3px;
}

nav a {
    margin: 15px;
}

main {
    /*background-color: rgb(144, 238, 144);*/
    min-height: 100vh;
}

footer {
    background-color: rgb(191,188,188);
    color: #fff;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer nav img{
    margin: 10px;
}

/* CSS CARRINHO DE COMPRAS */

main{
    justify-content: center;
}

#carrinho {
    align-items: center;
    padding: 10vw;
    width: 100vw;
}

#listaCarrinho {
    display: flex;
    flex-basis: 600px;
    flex-direction: column;
    margin-block: 30px;
}

#listaCarrinho .produto {
    display: flex;
    flex-direction: row;
    margin-block: 30px;
}

#listaCarrinho .produto .prodImagem {
    margin-inline: 30px;
    max-width: 120px;
}

#listaCarrinho .produto .prodDetalhes form {
    margin-block: 8px;
}

#listaCarrinho #checkout {
    display: flex;
    justify-content: end;
    font-size: 1.3em;
    gap: 30px;
}


/* CSS FALE CONOSCO */

.faleconosco {
    align-items: center;
    padding: 10vw;
    width: 100vw;
}

div.imgemcapa {
    background-image: url(../img/faleconosco.png);
    background-position: right;
    background-size: cover;
    height: 642px;
    padding: 10px;
    width: 32vw;
}

.faleconosco .formulario {
    display: flex;
    flex-direction: column;
    background-color: rgb(191, 188, 188);
    border-radius: 15px;
    box-shadow: 0px 10px 20px #00000051;
    padding: 1rem;
}

.faleconosco .formulario form {
    display: flex; 
    flex-direction: column;
    gap: 5px;
}

.faleconosco .formulario input, textarea {
    padding: 0.8rem;
    border: none;
    border-radius: 12px;
    background-color: #fff;
    opacity: 50%;
    outline: none;
    color: #44403c;
    font-size: 15px;
    box-shadow: 0px 2px 15px -5px #fff;
}

.faleconosco textarea {
    height: 6em;
    width: 100%;
}

.faleconosco .btn-enviar{
    width: 45%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 10px;
  outline: none;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 12px;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  color: chocolate;
  box-shadow: 0px 10px 40px -10px #fff;
}
