/* CSS CARRINHO DE COMPRAS */

main{
    justify-content: center;
}

#listaCarrinho {
    display: flex;
    flex-basis: 600px;
    flex-direction: column;
    margin-block: 30px;
}

#listaCarrinho .produto {
    display: flex;
    flex-direction: row;
    margin-block: 30px;
}

#listaCarrinho .produto .prodImagem {
    margin-inline: 30px;
    max-width: 120px;
}

#listaCarrinho .produto .prodDetalhes form {
    margin-block: 8px;
}

#listaCarrinho #checkout {
    display: flex;
    justify-content: end;
    font-size: 1.3em;
    gap: 30px;
}